* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}
//responsive nav design

#navbar {
  padding: 10px 0;
  background-color: blueviolet;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}
